!!!
%html
  %head
    %title Scoutmob
    :css
      #map_canvas { width: 500px; height: 500px; }
    %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    :javascript
      $(function() {
        $.getJSON('data.json', function(data) {
            var map = new google.maps.Map(document.getElementById("map_canvas"), {
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            
            var bounds = new google.maps.LatLngBounds();
            
            $.each(data, function(index, hash) {
              var position = new google.maps.LatLng(hash['latitude'], hash['longitude']);
              bounds.extend(position);
              
              new google.maps.Marker({ position: position, map: map, title: hash['title'] });
            });
            
            map.fitBounds(bounds);
        });
        
            
            
      });
    
  
  %body
    %h1 Scoutmob Deals!
    #map_canvas
